body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    color: #333;
  }
  
  input {
    margin: 10px 0;
    padding: 5px;
    font-size: 1rem;
  }
  
  button {
    margin-left: 10px;
    padding: 10px 10px;
    font-size: 1rem;
    background-color: #9178b4;
    color: white;
    border:none;
    border-radius: 20px;
    cursor: pointer;
  }
  #reset-button {
    background-color: #b6379a;
  }
  #reset-button:hover{
    background-color: #d308b8;
  }
  button:hover {
    background-color: #3700b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0px;
    width: 200px;
  }
  
  li {
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(223, 139, 202);
    border: 1px solid #ddd;
  }
  